# Requirements for the 5QTest project

# Django
django==1.3.1

# Useful dev stuff
django-extensions==0.8
werkzeug==0.8.3
ipython==0.11
readline


# if you are on a Mac, python manage.py shell_plus fails.
# This makes it work:
#    $ pip uninstall ipython readline
#    $ easy_install ipython==0.11 readline
